
.titulo {
    text-align: center;
    font-style: underline;
    margin-bottom: 20px; /* Espacio bajo el título */
    font-size: 55px; /* Tamaño de fuente del título */
    color: #ffffff; /* Color del texto del título */
    background-color: black;
  }
  .titulo2 {
    text-align: center;
    font-style: underline;
    margin-bottom: 20px; /* Espacio bajo el título */
    font-size: 35px; /* Tamaño de fuente del título */
    color: rgb(255, 255, 255); /* Color del texto del título */
    background-color: rgb(0, 0, 0);
  
  }
  
  /* Estilo para los botones */
  .boton {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    margin-left: 15%;
    background-color: blue; /* Fondo transparente */
    color: white; /* Color del texto */
    text-align: center;
    text-decoration: none;
    font-size: 16px; /* Tamaño de fuente del botón */
    border: 2px solid black; /* Borde negro de 2px */
    border-radius: 20px; /* Borde redondeado */
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s; /* Transición suave de color y fondo */
  }
  .botonpp {
    background-image: url(/vite-project/src/assets/img/ephiphone.png);
    display: inline-block;
    padding: 50px 50px 50px 50px;
    margin: 10px;
    margin-left: 15%;
    background-color: rgb(255, 255, 255); /* Fondo transparente */
    color: blue; /* Color del texto */
    text-align: center;
    text-decoration: none;
    font-size: 16px; /* Tamaño de fuente del botón */
    border: 2px solid black; /* Borde negro de 2px */
    border-radius: 20px; /* Borde redondeado */
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s; /* Transición suave de color y fondo */
  }
  
  .boton:hover {
    background-color: black; /* Color de fondo al pasar el ratón */
    color: white; /* Color del texto al pasar el ratón */
    
  }
  .botonpp:hover {
    background-color: #9f0101; /* Color de fondo al pasar el ratón */
    color: white; /* Color del texto al pasar el ratón */
    
  }
  .link{
    color: white;
  }
  .h3{

    text-align: center;
    font-style: underline;
    margin-bottom: 20px; /* Espacio bajo el título */
    font-size: 35px; /* Tamaño de fuente del título */
    color: #9f0101; /* Color del texto del título */
    background-color: rgb(131, 127, 127);
  }
  .inputregister{
    justify-content: center;
    align-items: center;
  }
  .table{
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    background-color: white;
  }

  .sign{
    font-size: 40px;
    font-weight: bold;
    margin-right: 15px;
    text-decoration: underline;
    }
  
  .input{
    margin-left: 45%;
    border-radius: 20px;
  }
  .botonregister {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    margin-left: 15%;
    background-color: blue; /* Fondo transparente */
    color: white; /* Color del texto */
    text-align: center;
    text-decoration: none;
    font-size: 16px; /* Tamaño de fuente del botón */
    border: 2px solid black; /* Borde negro de 2px */
    border-radius: 20px; /* Borde redondeado */
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s; /* Transición suave de color y fondo */
  }
  .pmodificaciones{
    justify-content: center;
    align-items: center;
    margin-left: 37%;
  }





  /* PaymentForm.css */

.payment-form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.payment-form {
  display: flex;
  flex-direction: column;
}

.credit-card-icons {
  text-align: center;
  margin-bottom: 20px;
}

.card-icon {
  width: 50px; /* Ajusta el tamaño según tus necesidades */
  margin: 0 10px;
}

.form-group {
  margin-bottom: 15px;
}

.form-inline {
  display: flex;
  justify-content: space-between;
}

.btn-submit {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-submit:hover {
  background-color: #0056b3;
}

label {
  font-weight: bold;
}
